{% extends 'common/chat/base.html' %}

{% block title %}Chat With Me{% endblock title %}

{% block content %}

    <nav class="main-header navbar navbar-expand navbar-dark">
        <a href="/" class="navbar-brand ml-5">
            <span class="brand-text font-weight-light"><b>Plant</b><em>AI</em></span>
        </a>
    
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

          <li class="nav-item mr-2">
            <a class="nav-link" href="{% url 'auth:logout' %}">
              <i class="fas fa-sign-out"></i>
            </a>
          </li>
        </ul>
      </nav>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="vstack gap-2">
                    <div class="p-2">First item</div>
                    <div class="p-2">Second item</div>
                    <div class="p-2">Third item</div>
                </div>                             
            </div>
            <div class="col-2"></div>
        </div>
        <div class="fixed-bottom bg-light">
            <div class="row">
                <hr>
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="hstack gap-3  mb-3">
                        <textarea class="form-control" type="text" rows="1" placeholder="Send a message"></textarea>
                        <button type="submit" class="btn btn-secondary"><i class="far fa-paper-plane"></i></button>
                      </div>
                    <span class="mt-2"> 
                        <p><b>Plant</b><em>AI</em> is designed to help farmers diagnose and manage plant diseases effectively</p>
                    </span>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
{% endblock content %}