{% extends 'common/authentication/base.html' %}

{% block title %}Register {% endblock title %}

{% block content %}
  <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="/" class="h1"><b>Plant</b><em>AI</em></a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Sign in to start your session</p>

          {% for error in form.non_field_errors %} {{ error }} {% endfor %}
    
          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input name="email" type="email" class="form-control" placeholder="Email" value="{{ form.email.value }}">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input name="password" type="password" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input name="password_2" type="password" class="form-control" placeholder="Confirm Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                  <button type="submit" class="btn btn-primary btn-block">Sign up</button>
              </div>
            </div>
          </form>

          <p class="mb-0 mt-3">
            <a href="#" class="text-center">I already have a account</a>
          </p>
        </div>
      </div>
    </div>
{% endblock content %}